youtube_dl
isodate~=0.6.0
bs4~=0.0.1
psutil~=5.7.0
lxml~=4.5.1
parsedatetime~=2.6
python-dateutil~=2.8.1
timeago~=1.0.14
pytz~=2020.1
discord.py[voice]>=1.3.4
ujson
asyncpg~=0.20.1
sentry-sdk
aiocontextvars
python-dotenv~=0.13.0
validators
beautifulsoup4~=4.9.1
emoji~=0.5.4